@mixin default-set($width, $height) {
  position: absolute;
  @include size-set($width, $height);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border-radius: 50%;
  z-index: 101;
}
.minaLoading {
  position: absolute;
  @include size-set(100%, 100vh);
  overflow: hidden;
  background: transparent;
  z-index: 100;
  .back {
    @include size-set(100%, 100%);
    display: flex;
    .black {
      @include size-set(100%, 100%);
    }
    :nth-child(1) {
      animation-delay: 0.3s;
    }
    :nth-child(2) {
      animation-delay: 0.6s;
    }
    :nth-child(3) {
      animation-delay: 0.9s;
    }
    :nth-child(4) {
      animation-delay: 1.2s;
    }
  }
  .per_one {
    @include default-set(250px, 250px);
    animation: rotrot 10s linear infinite;
  }
  .per_two {
    @include default-set(200px, 200px);
    animation: rotrot 15s linear infinite reverse;
  }
  .msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 101;
    div {
      display: inline-block;
      text-indent: 5px;
      @include font-set(50px, $inner_txt);
      animation: loading 0.7s infinite;
      &:nth-child(1) {
        animation-delay: 0.1s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.3s;
      }
      &:nth-child(4) {
        animation-delay: 0.4s;
      }
      &:nth-child(5) {
        animation-delay: 0.5s;
      }
      &:nth-child(6) {
        animation-delay: 0.6s;
      }
      &:nth-child(7) {
        animation-delay: 0.7s;
      }
    }
  }
}
@keyframes loading {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
